body {
}

h2 {
  font-family: 'Lily Script One', cursive;
  font-weight: 100;
  font-size: 2.5rem;
  margin: 1%;
}

h3 {
  font-family: 'Lily Script One', cursive;
  font-weight: 100;
  font-size: 1rem;
  margin: .5%;
}

h4 {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: .75rem;
  margin: .25%;
}

hr {
  border-style: dotted none none none;
  border-width: 20px;
  width: 7%;
  margin: 7% auto;
}

p {
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  font-size: .85rem;
}

.navbar {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  display: flex;
}

a {
  text-decoration: none;
  padding: .3%;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #ffe6ee;
}

.leftnav {
  text-align: left;
  font-size: 2rem;
  left: 0;
  padding: 4% 0 0 21%;
  width: 50vw;
}

.rightnav {
  text-align: right;
  right: 0;
  width: 50vw;
  padding: 4.5% 20% 0 0;
  font-size: 1.35rem;
}

.top {
height: 500px;
text-align: center;
}

.top h1 {
  font-family: 'Lily Script One', cursive;
  font-weight: 100;
  font-size: 3.5rem;
  margin: 1% 0 0 0;
}

.top h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.35rem;
}

.tatumpic {
  width: 200px;
  margin-top: 7%;

}

#about, #resume, #portfolio, #contact {
  text-align: center;
  width: 33%;
  margin: auto;
}

#about p {
  margin-top: 5%;
}

#resume {
  width: 45%;
}

.job {
  margin: 0 0 5% 0;
}

.jobtitle {
  width: 150px;
    height: 150px;
    background: #ffe6ee;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-border-style: dotted;
    border-style: dotted;
    border-radius: 100px;
    float: left;
    margin-right: 3%;
}

.jobtitle h3 {
  margin-top: 29%;
}

.jobdescription p {
  padding-top: 4%;
}

.jobdescription {
  height: 150px;
}

.pageicon {
  width: 200px;
  margin: 3%;
  border-radius: 20%;
  border: 7px dotted transparent;
}

.pageicon:hover {
    border: 7px dotted pink;
}

#portfolio {
  width: 45%;
}

#portfolio a {
  color: none;
  text-decoration: none;
}


#contact {
  padding-bottom: 10%;
}

#contact p {
  text-align: center;
  font-size: 1.1rem;
}

.fab {
  font-size: 2rem;
}

.footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: .75rem;
  padding: 2%
}

@media only screen and (max-width: 1000px) {
  .leftnav {
    width: 25vw;
  }

  .rightnav {
    width: 75vw;
  }
  
    #about, #resume, #portfolio, #contact {
    width: 75%;
  }
  
}
